#popup{
    width             : 100%;
    height            : 100%;
    display           : flex;
    align-items       : center;
    justify-content   : center;
    position          : fixed;
    z-index           : 1000;
    top               : 0px;
    left              : 0px;
    visibility        : hidden;
    opacity           : 0;
    transition        : opacity .4s;
    button,input{
        appearance         : none;
        -moz-appearance    : none;
        -webkit-appearance : none;
        border             : none;
        background         : transparent; 
    }
    button,span.btn{
        cursor             : pointer;
    }
    .popup-mask{
        width              : 100%;
        height             : 100%;
        background         : rgba(0,0,0,.7);
        position           : absolute;
        z-index            : 1;
        top                : 0px;
        left               : 0px;
    }
    .popup-wrap{
        max-width          : 100%;
        min-width          : 310px; 
        max-height         : 100%;
        display            : flex;
        background         : #fff;
        position           : relative;
        z-index            : 2;
        border-radius      : 5px;
        box-shadow         : 0px 3px 10px #00000070;  
        transform          : scale(0);
        //transition         : transform .3s ease-in-out .2s;
        .popup-content{
            width            : 100%;
            height           : 100%;
            display          : block;
            overflow-x       : hidden;
            overflow-y       : auto;
            .popup-head,.popup-con,.popup-action{
                min-width       : 200px;
                padding         : 10px; 
            }
            .popup-head{
                width           : 100%;
                height          : 55px;
                display         : flex;
                align-items     : center;  
                border-bottom   : 1px solid #e5e5e5;
                justify-content : space-between;
                h4{
                    font-size     : 1em; 
                }
                .close{
                    padding     : 5px;
                    display     : block;
                    font-size   : 1.1em;
                    color       : #ccc;
                    cursor      : pointer;
                    &:hover{
                        color     : #555; 
                    }  
                }
            }
            .popup-con{
                width           : 100%;
                margin          : 5px 0px; 
            }
            .popup-action{
                width           : 100%;
                display         : flex;
                justify-content : center;
                >ul{
                    display        : flex;
                    >li{
                        display      : inline-flex;
                        padding      : 0px 10px 0px 0px;
                        &:last-child{
                            padding  : 0px 0px 0px 0px; 
                        } 
                        button,span.btn{
                            width         : 120px; 
                            height        : 35px;
                            color         : #fff;
                            font-size     : 0.9em;
                            &.yes{
                                background  : #34a853;  
                            }
                            &.no{
                                background  : #ea4335; 
                            }
                        }
                    }
                }
            }
        }
    }
    &.close{
        visibility      : hidden;
    }
    &.open{
        visibility      : visible;
        opacity         : 1;
        .popup-wrap{
            transform      : scale(1);
            animation-name : popupWrap;
            -moz-animation-duration: .5s;
            -webkit-animation-name: popupWrap; 
            -webkit-animation-duration: .5s;
        }
    }

    .popup-form-wrap{
        width           : 100%;
    }
    .popup-note-wrap{
        width           : 100%;
    }


    form{
        width           : 100%;
        min-width       : 280px; 
        .form-ul{
            width         : 100%;
            >li{
                width           : 100%;
                min-height      : 50px;
                padding         : 0px 5px ;
                display         : flex;
                align-items     : center;
                &:last-child{
                    border-bottom      : none;
                }
                >ul{
                    width         : 100%;
                    display       : flex;
                    align-items   : center;
                    >li{
                        width        : 100%;
                    }
                }
                &.action{
                    padding          : 10px 5px; 
                    border-top       : 1px solid #e5e5e5;
                    justify-content  : flex-end;
                    button,span.btn{
                        width            : 60px;
                        height           : 35px;
                        color            : #fff; 
                        border-radius    : 2px;
                        display          : flex;
                        align-items      : center;
                        justify-content  : center;
                        font-size        : 0.9em;
                        &.no{
                            background       : #ea4335;
                            margin-right     : 10px;
                        }
                        &[type=submit]{
                            background       : #34a853;
                        }
                    }
                }
            }
            .label{
                max-width : 100px;
                font-size : 0.9em; 
            }
        }
    }

    .input-box{
        width           : 100%;
        height          : 35px;
        display         : flex;
        align-items     : center;
        border          : 1px solid #ccc;
        background      : #fff;
        position        : relative;
        overflow        : hidden;
        border-radius   : 4px;
        input{
            width         : 100%;
            height        : 100%;
            padding       : 0px 10px; 
            border        : none;
            background    : transparent;
            font-size     : 0.8em;
        }
    }
}

@keyframes popupWrap {
    0% { transform      : scale(0); }
    60% { transform      : scale(1.1); }
    100% { transform      : scale(1); }
}